@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor00: #c5ebd6;
    --cor01: #83e1ad;
    --cor02: #3DDC84;
    --cor03: #2FA866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor00);
    font-family: var(--fonte-padrao);
}

a.externo:after {
    content: '\00a0\1F517';
}

header {
    background-color: var(--cor04);
    text-align: center;
    min-height: 150px;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
    font-weight: normal;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.249);
}

nav {
    background-color: var(--cor05);
    padding: 10px;
    padding-top: 35px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.219);
    font-weight: bold;
    
}

nav > a {
    text-decoration: none;
    color: var(--cor01);
    padding: 10px;
    border-radius: 3px;
    transition-duration: 0.1s;
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);
}

main h1 {
    color: var(--cor05);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    color: #1a5c37;
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, #83e1ad81, white);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor04);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: #063d1e;
    background-color: #83e1ad;
    padding: 2px;
}

main a:hover {
    text-decoration: underline;
    color: #1a5c37;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main img {
    width: 100%;
}

.video {
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 15px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    
}

.video iframe, .video object, .video embed  {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #83e1ad;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.24);
}

aside > h3 {
    background-color: #1a5c37;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00a0\00a0';
    columns: 2;
}

footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: #3DDC84;
}

footer a:hover {
    text-decoration: underline;
    color: #83e1ad;
}